@page
@model DevBetterWeb.Web.Pages.Admin.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books![0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books![0].Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books![0].PurchaseUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books![0].CategoryTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books![0].MemberWhoUploaded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberWhoUploaded)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a href="./Admin/Users">
        Manage Users
    </a>
</div>
<div>
    <a href="./Videos">
        Manage Videos
    </a>
</div>