@page
@model DevBetterWeb.Web.Pages.User.IndexModel
@{
    ViewData["Title"] = "Index";
}


<h3>Members</h3>

<table class="table table-sm table-striped" id="membersTable">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model.Members)
        {
        <tr>
            <td><a asp-page="Details" asp-route-userid="@member.UserId">@member.FullName</a></td>
            <td>
                <a href="@member.BlogUrl"><i class="fas fa-blog fa-2x fa-fw"></i></a>
                <a href="@member.TwitterUrl"><i class="fab fa-twitter-square fa-2x fa-fw"></i></a>
                <a href="@member.LinkedInUrl"><i class="fab fa-linkedin fa-2x fa-fw"></i></a>
                <a href="@member.GitHubUrl"><i class="fab fa-github-square fa-2x fa-fw"></i></a>
                <a href="@member.TwitchUrl"><i class="fab fa-twitch fa-2x fa-fw"></i></a>
                <a href="@member.YouTubeUrl"><i class="fab fa-youtube-square fa-2x fa-fw"></i></a>
                <a href="@member.OtherUrl"><i class="fas fa-link fa-2x fa-fw"></i></a>
            
                @if (!string.IsNullOrEmpty(member.PEUsername))
                {
                    <img src=@member.PEBadgeURL height=40 width=135 alt="Project Euler Badge" align="right" />
                }
            
            </td>


        </tr>
        }
    </tbody>
</table>

@section scripts{
    <script src="~/js/members.js" asp-append-version="true"></script>
}

