@page
@model DevBetterWeb.Web.Pages.User.IndexModel
@{
	ViewData["Title"] = "Members";
}

<style>
	.bounce {
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-name: bounce;
		animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
		transform-origin: top;
	}

	@@keyframes bounce {
		0% {
			transform: scale(1.1, 0.9) translateY(0);
		}

		10% {
			transform: scale(1.2, 0.8) translateY(0);
		}

		40% {
			transform: scale(0.9, 1.1) translateY(7px);
		}

		50% {
			transform: scale(1.1, 0.9) translateY(11px);
		}

		60% {
			transform: scale(1.2, 0.8) translateY(7px);
		}

		100% {
			transform: scale(1.1, 0.9) translateY(0);
		}
	}
</style>


<h3>Members</h3>

@if (Model.IsAdministrator)
{
	<br />
	<div class="row">
		<div class="col-auto">
			<input type="checkbox" id="showAllMembers" name="showAllMembers">
			<label for="showAllMembers"> All Members</label><br>
		</div>
	</div>
	<br />
}

<table class="table table-sm table-striped" id="membersTable">
	<thead>
		<tr>
			<th>Avatar</th>
			<th>Name</th>
			<th>Subscribed<br />Days</th>
			@if (Model.IsAdministrator)
			{
				<th></th>
				<th>Is member</th>
			}
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var member in Model.Members)
		{
			<tr>
				<td><img src="@string.Format(DevBetterWeb.Core.Constants.AVATAR_IMGURL_FORMAT_STRING, member.UserId)"
					class="db-avatar-small" height="200" width="200" onerror='epic(this)' alt="Avatar (@member.FullName)" /></td>
				<td><a asp-page="Details" asp-route-userid="@member.UserId">@member.FullName</a></td>
				<td>@member.SubscribedDays</td>
				@if (Model.IsAdministrator)
				{
					<td><a asp-page="/Admin/User" asp-route-userid="@member.UserId">Edit User</a></td>
					<td>@member.IsMember</td>
				}
				<td data-order="@member.SubscribedDays">
					@if (member.SubscribedDays >= 730)
					{
						<a> Alumni</a>
					}
					else
					{
						<partial name="_MemberSubscriptionPercentCircle" for="PercentModels[Model.Members.IndexOf(member)]" />
					}
				</td>
				<td>
					<div class="d-flex">
						<a href="/user/map/@member.UserId"><i class="fas fa-map-marker-alt fa-2x fa-fw"></i></a>
						<a href="@member.BlogUrl" target="_blank"><i class="fas fa-blog fa-2x fa-fw"></i></a>
						<div class="d-flex flex-column align-items-center">
							<a href="@member.TwitterUrl" target="_blank"><i class="fab fa-twitter-square fa-2x fa-fw"></i></a>
							@if (false)
							{
								<div class="fa fa-plug bounce"></div>
							}
						</div>
						<a href="@member.LinkedInUrl" target="_blank"><i class="fab fa-linkedin fa-2x fa-fw"></i></a>
						<a href="@member.GitHubUrl" target="_blank"><i class="fab fa-github-square fa-2x fa-fw"></i></a>
						<a href="@member.TwitchUrl" target="_blank"><i class="fab fa-twitch fa-2x fa-fw"></i></a>
						<a href="@member.YouTubeUrl" target="_blank"><i class="fab fa-youtube-square fa-2x fa-fw"></i></a>
						<a href="@member.CodinGameUrl" target="_blank"><i class="fas fa-code fa-2x fa-fw"></i></a>
						<a href="@member.OtherUrl" target="_blank"><i class="fas fa-link fa-2x fa-fw"></i></a>

						@if (Model.IsAdministrator)
						{
							@if (!String.IsNullOrEmpty(member.Address))
							{
								<i title="Shipping Address" class="fas fa-map-marker fa-2x fa-fw"></i>
							}
							else
							{
								<i title="Shipping Address" class="fas fa-map-marker-alt fa-2x fa-fw"></i>
							}
						}

						@if (!string.IsNullOrEmpty(member.PEUsername))
						{
							<img class="projectEulerBadge" src="@member.PEBadgeURL" alt="Project Euler Badge" align="right" />
						}
					</div>
				</td>


			</tr>
		}
	</tbody>
</table>

@section scripts {
<script src="~/js/members.js" asp-append-version="true"></script>
<script>
	$(document).ready(function () {
		var isAdmin = "@Model.IsAdministrator";
		if (isAdmin == "True") {
			showAllMembersFunc();

			$('#showAllMembers').change(function () {
				showAllMembersFunc();
			});
		}
	});
</script>
}
