@page
@model DevBetterWeb.Web.Pages.User.MyProfileModel
@{
    ViewData["Title"] = "My Profile";
}

<h3>My Profile</h3>

<form method="post">
    <div class="row">
        <div class="col-7">
            <div class="card">
                <div class="card-header">
                    <b>Personal</b>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-bold">First Name</label>
                        <input asp-for="UserProfileUpdateModel.FirstName" type="text" value="@Model.UserProfileUpdateModel.FirstName" class="form-control form-control-sm" />
                        <span asp-validation-for="UserProfileUpdateModel.FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold">Last Name</label>
                        <input asp-for="UserProfileUpdateModel.LastName" type="text" value="@Model.UserProfileUpdateModel.LastName" class="form-control form-control-sm" />
                        <span asp-validation-for="UserProfileUpdateModel.LastName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold">Address</label>
                        <span class="text-primary small">Only administrators can view this information</span>
                        <textarea asp-for="UserProfileUpdateModel.Address" rows="5" style="max-width:100%" class="form-control form-control-sm">@Model.UserProfileUpdateModel.Address</textarea>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold">About</label>
                        <textarea asp-for="UserProfileUpdateModel.AboutInfo" rows="5" style="max-width:100%" class="form-control form-control-sm">@Model.UserProfileUpdateModel.AboutInfo</textarea>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-header">
                    <b>Links</b>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-bold">Blog</label>
                        <input type="text" asp-for="UserProfileUpdateModel.BlogUrl" value="@Model.UserProfileUpdateModel.BlogUrl" class="form-control form-control-sm" />
                        <span asp-validation-for="UserProfileUpdateModel.BlogUrl" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold">Github</label>
                        <input type="text" asp-for="UserProfileUpdateModel.GithubUrl" value="@Model.UserProfileUpdateModel.GithubUrl" class="form-control form-control-sm" />
                        <span asp-validation-for="UserProfileUpdateModel.GithubUrl" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold">LinkedIn</label>
                        <input type="text" asp-for="UserProfileUpdateModel.LinkedInUrl" value="@Model.UserProfileUpdateModel.LinkedInUrl" class="form-control form-control-sm" />
                        <span asp-validation-for="UserProfileUpdateModel.LinkedInUrl" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold">Twitter</label>
                        <input type="text" asp-for="UserProfileUpdateModel.TwitterUrl" value="@Model.UserProfileUpdateModel.TwitterUrl" class="form-control form-control-sm" />
                        <span asp-validation-for="UserProfileUpdateModel.TwitterUrl" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold">Twitch</label>
                        <input type="text" asp-for="UserProfileUpdateModel.TwitchUrl" value="@Model.UserProfileUpdateModel.TwitchUrl" class="form-control form-control-sm" />
                        <span asp-validation-for="UserProfileUpdateModel.TwitchUrl" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold">Other</label>
                        <input type="text" asp-for="UserProfileUpdateModel.OtherUrl" value="@Model.UserProfileUpdateModel.OtherUrl" class="form-control form-control-sm" />
                        <span asp-validation-for="UserProfileUpdateModel.OtherUrl" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

   <input type="submit" value="Save" class="btn btn-success" />
</form>


