@page
@model DevBetterWeb.Web.Pages.Admin.ArchivedVideos.DetailsModel

@{
    ViewData["Title"] = "Details";
}
@section head {

    <link href="//amp.azure.net/libs/amp/latest/skins/amp-default/azuremediaplayer.min.css" rel="stylesheet">
    <script src="//amp.azure.net/libs/amp/latest/azuremediaplayer.min.js"></script>
}


<h3>@Model.ArchiveVideoDetails!.DateCreated.UtcDateTime.ToShortDateString()</h3>


<video id="vid1" class="azuremediaplayer amp-default-skin">
    <p class="amp-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video
    </p>
</video>


<div class="card mt-2">
    <div class="card-header p-2">
        <span class="font-weight-bold">Notes</span>
    </div>
    <div class="card-body p-2">
        <markdown markdown="ArchiveVideoDetails!.ShowNotes" />
    </div>
</div>

<div class="card mt-2">
    <div class="card-header p-2">
        <span class="font-weight-bold">Questions Discussed</span>
    </div>
    <div class="card-body p-2">
        @if (!Model.ArchiveVideoDetails.Questions.Any())
        {
            <span>No questions for this video.</span>
        }

        @foreach (var item in Model.ArchiveVideoDetails.Questions)
        {
            <div class="border bg-light p-2 mb-2 d-flex">

                <div class="w-75">
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </div>
                <div class="w-25 ml-auto">
                    <a href="#" class="ts" data-time="@item.TimestampSeconds">Go to clip</a>
                </div>
            </div>
        }

    </div>
</div>


<div>
    <span asp-authorize asp-roles="Administrators">
        <a asp-page="./Edit" asp-route-id="@Model.ArchiveVideoDetails.Id">Edit</a> |
    </span>
    <a asp-page="./Index">Back to List</a>
</div>
@section scripts {
    <script>
    //    var urlParams = new URLSearchParams(window.location.search);
    //var startTime = urlParams.get('startTime');

    //var autoPlay = false;
    //if (startTime) {
    //    autoplay = true;
    //}


        (function () {
            var myPlayer = amp('vid1', { /* Options */
                "nativeControlsForTouch": false,
                autoplay: false,
                controls: true,
                width: "100%",
                poster: ""
            },
                function () {
                    myPlayer.src([{
                        src: '@Model.ArchiveVideoDetails.VideoUrl',
                        type: "application/vnd.ms-sstr+xml"
                    }]);
                });

            $('.ts').click(function (e) {
                e.preventDefault();
                var link = $(e.currentTarget);
                var time = link.attr('data-time');
                myPlayer.currentTime(time);
            });
        }) ();

    //if (startTime) {
    //    //myPlayer.Play();
    //    myPlayer.currentTime(time);
    //}
    </script>
}
