@page
@model DevBetterWeb.Web.Pages.Videos.IndexModel
@{
	ViewData["Title"] = "Index";
}

<style>
	#videos {
	  font-family: Arial, Helvetica, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}

	#videos td, #videos th {
	  border: 1px solid #ddd;
	  padding: 8px;
	}

	#videos tr:nth-child(even){background-color: #f2f2f2;}

	#videos tr:hover {background-color: #ddd;}

	#videos th {
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: left;
	  background-color: #007bff;
	  color: white;
	}
</style>

<h3>Recorded Coaching Sessions</h3>
<p asp-authorize asp-roles="Administrators">
	<a class="btn btn-primary" asp-page="Create" style="margin-bottom: 10px;"><i class="fa fa-plus"></i> Create New</a>
</p>
<table class="table" id="videos">
	<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VideoList[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoList[0].ReleaseTime)
            </th>
            <th asp-authorize asp-roles="Administrators">
                @Html.DisplayNameFor(model => model.VideoList[0].CreatedTime)
            </th>
            <th asp-authorize asp-roles="Administrators">
                @Html.DisplayNameFor(model => model.VideoList[0].Status)
            </th>
            <th></th>
        </tr>
	</thead>
	<tbody>
		@foreach (var item in Model.VideoList)
		{
        <tr>
            <td>
                <a href="Videos/Details/@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseTime)
            </td>
            <td asp-authorize asp-roles="Administrators">
                @Html.DisplayFor(modelItem => item.CreatedTime)
            </td>
            <td asp-authorize asp-roles="Administrators">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td asp-authorize asp-roles="Administrators">
                <a href="Videos/Details/@item.Id"><i class="fas fa-info-circle"></i></a>
                    |
                    <a href="Videos/Edit/@item.Id"><i class="fas fa-edit"></i></a> |
                    <a href="Videos/Delete/@item.Id"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
		}
	</tbody>
</table>
