@page
@model DevBetterWeb.Web.Pages.Admin.Videos.IndexModel
@{
    ViewData["Title"] = "Index";
}
<h3>Videos</h3>
<p asp-authorize asp-roles="Administrators">
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArchiveVideoList[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchiveVideoList[0].DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArchiveVideoList[0].VideoUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ArchiveVideoList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VideoUrl)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    <span asp-authorize asp-roles="Administrators">
                        |
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a href="./Admin/Users">
        Manage Users
    </a>
</div>
<div>
    <a href="./Admin/Books">
        Manage Books
    </a>
</div>