@page
@model DevBetterWeb.Web.Pages.ArchivedVideos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Archive Video</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArchiveVideo.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArchiveVideo.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArchiveVideo.ShowNotes)
        </dt>
        <dd>
            <markdown markdown="ArchiveVideo.ShowNotes" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArchiveVideo.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArchiveVideo.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArchiveVideo.VideoUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArchiveVideo.VideoUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArchiveVideo.Questions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArchiveVideo.Questions, "ListQuestions")
        </dd>
    </dl>
</div>
<div>
    <span asp-authorize asp-roles="Administrators">
        <a asp-page="./Edit" asp-route-id="@Model.ArchiveVideo.Id">Edit</a> |
    </span>
    <a asp-page="./Index">Back to List</a>
</div>
