@page
@model DevBetterWeb.Web.Pages.Leaderboard.IndexModel
@{
    ViewData["Title"] = "Index";
    var rank = 1;
    var bookrank = 1;
}


<h3>Leaderboard</h3>

<div class="row">
    <div class="col-5">
        <table class="table table-sm table-striped" id="leaderboardTable">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Number of Books Read</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model.Members)
                {
                <tr>
                    <td>@(rank++)</td>
                    <td>
                        @member.FullName
                    </td>
                    <td>
                        @member.BooksRead!.Count
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-7">
        <table class="table table-sm table-striped" id="leaderboardBooksTable">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Book</th>
                    <th></th>
                    <th></th>
                    <th>Read by...</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model.Books)
                {
                    <tr>
                        <td>@(bookrank++)</td>
                        <td>
                            <a asp-page="BookDetails" asp-route-bookId="@book.Id"> @book.ToString()</a>
                        </td>
                        <td>
                            <a href="@book.PurchaseUrl" target="_blank"><i class="fas fa-shopping-cart"></i></a>
                        </td>
                        <td></td>
                        <td>
                            @book.MembersWhoHaveRead!.Count 
                            @if(book.MembersWhoHaveRead.Count == 1)
                            {
                                <a>Member</a>
                            }
                            else { <a>Members</a>}
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section scripts{
    <script src="~/js/members.js" asp-append-version="true"></script>
}

