@page
@model DevBetterWeb.Web.Pages.Admin.RoleModel
@{
    ViewData["Title"] = "Role";
}


<h3>Edit Role</h3>


<div class="mb-3">
        <div class="border bg-light  p-2">
            <b>Role</b>
        </div>
        <div class="border border-top-0 p-2">
            @Model.Role.Name
        </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="border bg-light p-2">
            <div class="d-flex">
                <div class="pt-1">
                    <b>Users</b>
                </div>
                <div class="ml-auto">
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addUserModal">Add User</button>
                </div>
            </div>
        </div>
        <div class="border border-top-0 p-2">

            @foreach (var user in Model.UsersInRole)
            {
                <div class="d-flex mb-2 border p-2 bg-light">
                    <div class="pt-1">
                        <a asp-page="./User" asp-route-userId="@user.Id">@user.Email</a>
                    </div>
                    <div class="ml-auto">
                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#removeUserModal" data-userId="@user.Id" data-userEmail="@user.Email">Remove</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@* add user modal *@
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-page-handler="AddUserToRole">
                <input type="hidden" name="roleId" value="@Model.Role.Id" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <select asp-items="Model.UsersNotInRole" name="userId" class="form-control">
                        <option>Select</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add User</button>
                </div>
            </form>
        </div>
    </div>
</div>


@* remove user modal *@
<div class="modal fade" id="removeUserModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-page-handler="RemoveUserFromRole">
                <input type="hidden" name="roleId" value="@Model.Role.Id" />
                <input type="hidden" name="userId" id="hidRemoveUserId" />
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Remove User From Role</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">
                        Are you sure you want to remove this user?
                        <br />
                        <b><span id="spnRemoveUserEmail"></span></b>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Remove User</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/admin.js" asp-append-version="true"></script>
}
