@page
@model DevBetterWeb.Web.Pages.Admin.SubscriptionPlans.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price per Billing Period</th>
            <th>Billing Period</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MemberSubscriptionPlansList!) {
        <tr>
            <td>@item.Details.Name</td>
            <td>$@item.Details.PricePerBillingPeriod</td>
            <td>@item.Details.BillingPeriod</td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
