@page
@model DevBetterWeb.Web.Pages.User.MyProfileBooksModel
@{
    ViewData["Title"] = "My Profile: Books";
}

<h3>My Profile: Books</h3>

<p>
    What does it mean that you've "read" a book? It means you've done more than just pick it up and flip through the pages, or read a chapter or two. You've read substantially all of the book.
</p>

    <div class="row">
        <div class="col-7">
            <div class="card">
                <div class="card-header">
                    <b>Books You've Read</b>
                </div>
                @if (Model.UserBooksUpdateModel.BooksRead.Any())
                {
                    @foreach (var book in Model.UserBooksUpdateModel.BooksRead)
                    {
                        <div class="card-body">
                            <strong>
                                @book.ToString() <!--<button type="submit" class="btn btn-danger" value="book.Id" asp-for="UserProfileUpdateModel.RemovedBook"><i class="fas fa-times"></i></button>-->
                            </strong>
                        </div>
                    }
                }
                else
                {
                    <div class="card-body">You haven't read any books yet. Time to start reading, or add one!</div>
                }

            </div>

        </div>

        <div class="col-5">
            <form method="post" asp-page-handler="add">
                <div class="card">
                    <div class="card-header">
                        <b>Add Books</b>
                    </div>
                    <div class="card-body">
                        <label for="addBooks">Select a book to add it to your list.</label>
                        <select asp-for="UserBooksUpdateModel.AddedBook" id="addBooks">
                            <option value="">None</option>
                            @foreach (var book in Model.Books)
                            {
                                if (!(Model.UserBooksUpdateModel.HasReadBook(book)))
                                {
                                    <option value="@book.Id">@book.ToString()</option>
                                }
                            }
                        </select>
                        <br />
                        <br />
                        <input type="submit" value="Add" class="btn btn-success" />
                    </div>
                </div>
            </form>
            <br />
            <form method="post" asp-page-handler="remove">
                <div class="card">
                    <div class="card-header">
                        Remove Books
                    </div>
                    <div class="card-body">
                        <label for="removeBooks">Select a book to remove it from your list.</label>
                        <select asp-for="UserBooksUpdateModel.RemovedBook" id="removeBooks">
                            <option value="">None</option>
                            @foreach (var book in Model.Books)
                            {
                                if (Model.UserBooksUpdateModel.HasReadBook(book))
                                {
                                    <option value="@book.Id">@book.ToString()</option>
                                }
                            }
                        </select>
                        <br />
                        <br />
                        <input type="submit" value="Remove" class="btn btn-success" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <br />
    <br />

    <a class="btn btn-primary nav-item" href="./">Back to My Profile</a>



