@page
@model DevBetterWeb.Web.Pages.User.MyProfile.IndexModel
@{
    ViewData["Title"] = "My Profile";
}

<h3>My Profile</h3>


<div class="row">
    <div class="col-7">
        <div class="card">
            <div class="card-header">
                <b>Personal</b>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="font-weight-bold">First Name</label>
                    <p>@Model.UserProfileViewModel.FirstName</p>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Last Name</label>
                    <p>@Model.UserProfileViewModel.LastName</p>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold">Shipping Address</label>
                    <span class="text-secondary small">Only administrators can view this information</span>
                    @if (Model.UserProfileViewModel.Address == null)
                    {
                        <p>none</p>
                    }
                    else
                    {
                        <p>@Model.UserProfileViewModel.Address</p>
                    }
                </div>

                <label class="font-weight-bold">About</label>
                @if (Model.UserProfileViewModel.AboutInfo == null)
                {
                    <p>none</p>
                }
                else
                {
                    <p>@Model.UserProfileViewModel.AboutInfo</p>
                }

                <label class="font-weight-bold">Discord Username</label>
                @if (Model.UserProfileViewModel.DiscordUsername == null)
                {
                    <p>none</p>
                }
                else
                {
                    <p>@Model.UserProfileViewModel.DiscordUsername</p>
                }

                <label class="font-weight-bold">Project Euler Username</label>
                @if (Model.UserProfileViewModel.PEUsername == null)
                {
                    <p>none</p>
                }
                else
                {
                    <p>@Model.UserProfileViewModel.PEUsername</p>
                }

                <label class="font-weight-bold">Project Euler Friend Code</label>
                @if (Model.UserProfileViewModel.PEFriendCode == null)
                {
                    <p>none</p>
                }
                else
                {
                    <p>@Model.UserProfileViewModel.PEFriendCode</p>
                }

                <a class="btn btn-primary nav-item" href="/User/MyProfile/Personal">Edit</a>

            </div>

        </div>
        <br />

        <div class="card">
            <div class="card-header">
                <b>Books You've Read</b>
            </div>
            @if (Model.UserProfileViewModel.BooksRead.Any())
            {
                @foreach (var book in Model.UserProfileViewModel.BooksRead)
                {
                    <div class="card-body">
                        <strong>
                            @book.ToString()
                        </strong>
                    </div>
                }
            }
            else
            {
                <div class="card-body">You haven't read any books yet. Add one below!</div>
            }
            <div class="card-body">

                <a class="btn btn-primary nav-item" href="/User/MyProfile/Books">Edit</a>

            </div>
        </div>


    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-header">
                <b>Avatar / Profile Image</b>
            </div>
            <div class="card-body">
                <div>
                    <a href="/User/MyProfile/EditAvatar">
                        <img class="db-avatar" src="@Model.AvatarUrl" alt="Profile picture" onerror='epic(this)' />
                    </a>
                </div>
                <a class="btn btn-primary nav-item" href="/User/MyProfile/EditAvatar">Edit</a>
            </div>
            <div class="card">
                <div class="card-header">
                    <b>Links</b>
                </div>
                <div class="card-body">

                    <label class="font-weight-bold">Blog</label>
                    @if (Model.UserProfileViewModel.BlogUrl == null)
                    {
                        <p>none</p>
                    }
                    else
                    {
                        <p>@Model.UserProfileViewModel.BlogUrl</p>
                    }

                    <label class="font-weight-bold">CodinGame</label>
                    @if (Model.UserProfileViewModel.CodinGameUrl == null)
                    {
                        <p>none</p>
                    }
                    else
                    {
                        <p>@Model.UserProfileViewModel.CodinGameUrl</p>
                    }

                    <label class="font-weight-bold">GitHub</label>
                    @if (Model.UserProfileViewModel.GithubUrl == null)
                    {
                        <p>none</p>
                    }
                    else
                    {
                        <p>@Model.UserProfileViewModel.GithubUrl</p>
                    }

                    <label class="font-weight-bold">LinkedIn</label>
                    @if (Model.UserProfileViewModel.LinkedInUrl == null)
                    {
                        <p>none</p>
                    }
                    else
                    {
                        <p>@Model.UserProfileViewModel.LinkedInUrl</p>
                    }

                    <label class="font-weight-bold">Twitter</label>
                    @if (Model.UserProfileViewModel.TwitterUrl == null)
                    {
                        <p>none</p>
                    }
                    else
                    {
                        <p>@Model.UserProfileViewModel.TwitterUrl</p>
                    }

                    <label class="font-weight-bold">Twitch</label>
                    @if (Model.UserProfileViewModel.TwitchUrl == null)
                    {
                        <p>none</p>
                    }
                    else
                    {
                        <p>@Model.UserProfileViewModel.TwitchUrl</p>
                    }

                    <label class="font-weight-bold">YouTube</label>
                    @if (Model.UserProfileViewModel.YouTubeUrl == null)
                    {
                        <p>none</p>
                    }
                    else
                    {
                        <p>@Model.UserProfileViewModel.YouTubeUrl</p>
                    }

                    <label class="font-weight-bold">Other</label>
                    @if (Model.UserProfileViewModel.OtherUrl == null)
                    {
                        <p>none</p>
                    }
                    else
                    {
                        <p>@Model.UserProfileViewModel.OtherUrl</p>
                    }

                    <a class="btn btn-primary nav-item" href="/User/MyProfile/Links">Edit</a>

                </div>
            </div>

        </div>
    </div>
</div>