@page
@model DevBetterWeb.Web.Pages.User.MyProfileLinksModel
@{
    ViewData["Title"] = "My Profile: Links";
}

<h3>My Profile: Links</h3>

<form method="post">
    <div class="row">
        <div class="col-7">
            <div class="card">
                <div class="card-header">
                    <b>Links</b>
                </div>
                <div class="card-body">

                    <label class="font-weight-bold">Blog</label>
                    <input type="text" asp-for="UserLinksUpdateModel.BlogUrl" value="@Model.UserLinksUpdateModel.BlogUrl" class="form-control form-control-sm" title="https://your-blog.com" />
                    <span asp-validation-for="UserLinksUpdateModel.BlogUrl" class="text-danger"></span>
                    <br />
                    <label class="font-weight-bold">CodinGame</label>
                    <input type="text" asp-for="UserLinksUpdateModel.CodinGameUrl" value="@Model.UserLinksUpdateModel.CodinGameUrl" class="form-control form-control-sm" title="https://www.codingame.com/profile/123456789/following/">
                    <span asp-validation-for="UserLinksUpdateModel.CodinGameUrl" class="text-danger"></span>
                    <br />
                    <label class="font-weight-bold">Github</label>
                    <input type="text" asp-for="UserLinksUpdateModel.GithubUrl" value="@Model.UserLinksUpdateModel.GithubUrl" class="form-control form-control-sm" title="https://github.com/UserName" />
                    <span asp-validation-for="UserLinksUpdateModel.GithubUrl" class="text-danger"></span>
                    <br />
                    <label class="font-weight-bold">LinkedIn</label>
                    <input type="text" asp-for="UserLinksUpdateModel.LinkedInUrl" value="@Model.UserLinksUpdateModel.LinkedInUrl" class="form-control form-control-sm" title="https://www.linkedin.com/in/UserName" />
                    <span asp-validation-for="UserLinksUpdateModel.LinkedInUrl" class="text-danger"></span>
                    <br />
                    <label class="font-weight-bold">Twitter</label>
                    <input type="text" asp-for="UserLinksUpdateModel.TwitterUrl" value="@Model.UserLinksUpdateModel.TwitterUrl" class="form-control form-control-sm" title="https://twitter.com/UserName" />
                    <span asp-validation-for="UserLinksUpdateModel.TwitterUrl" class="text-danger"></span>
                    <br />
                    <div class="form-group">
                        <label class="font-weight-bold">Twitch</label>
                        <input type="text" asp-for="UserLinksUpdateModel.TwitchUrl" value="@Model.UserLinksUpdateModel.TwitchUrl" class="form-control form-control-sm" title="https://www.twitch.tv/UserName" />
                        <span asp-validation-for="UserLinksUpdateModel.TwitchUrl" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="font-weight-bold">YouTube</label>
                        <input type="text" asp-for="UserLinksUpdateModel.YouTubeUrl" value="@Model.UserLinksUpdateModel.YouTubeUrl" class="form-control form-control-sm" title="https://www.youtube.com/channel/123456789" />
                        <span asp-validation-for="UserLinksUpdateModel.YouTubeUrl" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="font-weight-bold">Other</label>
                        <input type="text" asp-for="UserLinksUpdateModel.OtherUrl" value="@Model.UserLinksUpdateModel.OtherUrl" class="form-control form-control-sm" title="https://website.com" />
                        <span asp-validation-for="UserLinksUpdateModel.OtherUrl" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <br />

    <input type="submit" value="Save" class="btn btn-success" />
    <br />
    <br />

    <a class="btn btn-primary nav-item" href="./">Back to My Profile</a>

</form>


