@page
@model DevBetterWeb.Web.Pages.User.MyProfilePersonalModel
@{
	ViewData["Title"] = "My Profile: Personal";
}

<style>
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}
</style>

<h3>My Profile: Personal</h3>

<form method="post">
	<div class="row">
		<div class="col-7">
			<div class="card">
				<div class="card-header">
					<b>Personal</b>
				</div>
				<div class="card-body">
					<div class="form-group">
						<label class="font-weight-bold">Email</label>
						<input asp-for="UserPersonalUpdateModel.Email" type="text" value="@Model.UserPersonalUpdateModel.Email"
							class="form-control form-control-sm" />
						<span asp-validation-for="UserPersonalUpdateModel.Email" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label class="font-weight-bold">First Name</label>
						<input asp-for="UserPersonalUpdateModel.FirstName" type="text"
							value="@Model.UserPersonalUpdateModel.FirstName" class="form-control form-control-sm" />
						<span asp-validation-for="UserPersonalUpdateModel.FirstName" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label class="font-weight-bold">Last Name</label>
						<input asp-for="UserPersonalUpdateModel.LastName" type="text"
							value="@Model.UserPersonalUpdateModel.LastName" class="form-control form-control-sm" />
						<span asp-validation-for="UserPersonalUpdateModel.LastName" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label class="font-weight-bold">Shipping Address</label>
						<span class="text-secondary small">Only administrators can view this information - include country if
							non-US</span>
						<textarea asp-for="UserPersonalUpdateModel.Address" rows="5" style="max-width: 100%"
							class="form-control form-control-sm">@Model.UserPersonalUpdateModel.Address</textarea>
						<span asp-validation-for="UserPersonalUpdateModel.Address" class="text-danger"></span>
					</div>
										
					<div class="form-group">
						<label class="font-weight-bold">City</label>
						<span class="text-secondary small">Only administrators can view this information - include country if
							non-US</span>
						<input asp-for="UserPersonalUpdateModel.City" type="text"
						       value="@Model.UserPersonalUpdateModel.City" class="form-control form-control-sm" />
						<span asp-validation-for="UserPersonalUpdateModel.City" class="text-danger"></span>
					</div>
										
					<div class="form-group">
						<label class="font-weight-bold">Country</label>
						<span class="text-secondary small">Only administrators can view this information - include country if
							non-US</span>
						<input asp-for="UserPersonalUpdateModel.Country" type="text"
									 value="@Model.UserPersonalUpdateModel.Country" class="form-control form-control-sm" />
						<span asp-validation-for="UserPersonalUpdateModel.Country" class="text-danger"></span>
					</div>
										
					<div class="form-group">
						<label class="font-weight-bold">Postal Code</label>
						<span class="text-secondary small">Only administrators can view this information - include country if
							non-US</span>
						<input asp-for="UserPersonalUpdateModel.PostalCode" type="text"
									 value="@Model.UserPersonalUpdateModel.PostalCode" class="form-control form-control-sm" />
						<span asp-validation-for="UserPersonalUpdateModel.PostalCode" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label class="font-weight-bold">Birthday</label>
						<p class="text-secondary small mb-1">If set, birthday will be visible to other devBetter members and may be used to celebrate your day via Discord, coaching sessions, etc.</p>
						<div class="row">
							<div class="col">
								<label>Day</label>
								<input id="birthday" asp-for="UserPersonalUpdateModel.BirthdayDay" type="number" min="1" max="31"
									value="@Model.UserPersonalUpdateModel.BirthdayDay" class="form-control form-control-sm"
									placeholder="DD" />
								<span asp-validation-for="UserPersonalUpdateModel.BirthdayDay" class="text-danger"></span>
							</div>
							<div class="col">
								<label>Month</label>
								<input id="birthmonth" asp-for="UserPersonalUpdateModel.BirthdayMonth" type="number" min="1" max="12"
									value="@Model.UserPersonalUpdateModel.BirthdayMonth" class="form-control form-control-sm"
									placeholder="MM" />
							</div>
							<div class="col d-flex align-items-end pl-0">
								<button id="clear-birthday" type="button" class="btn btn-sm btn-default"><span class="fa fa-trash"></span></button>
							</div>
							
						</div>
					</div>

					<div class="form-group">
						<label class="font-weight-bold">About</label>
						<textarea asp-for="UserPersonalUpdateModel.AboutInfo" rows="5" style="max-width: 100%"
							class="form-control form-control-sm">@Model.UserPersonalUpdateModel.AboutInfo</textarea>
					</div>

					<div class="form-group">
						<label class="font-weight-bold">Discord Username</label>
						<input asp-for="UserPersonalUpdateModel.DiscordUsername" class="form-control form-control-sm"
							value="@Model.UserPersonalUpdateModel.DiscordUsername" placeholder="username#1234"
							title="username#1234" />
						<span asp-validation-for="UserPersonalUpdateModel.DiscordUsername" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label class="font-weight-bold">Project Euler Username</label>
						<input asp-for="UserPersonalUpdateModel.PEUsername" class="form-control form-control-sm"
							value="@Model.UserPersonalUpdateModel.PEUsername" title="username" />
					</div>

					<div class="form-group">
						<label class="font-weight-bold">Project Euler Friend Code</label>
						<input asp-for="UserPersonalUpdateModel.PEFriendCode" class="form-control form-control-sm"
							value="@Model.UserPersonalUpdateModel.PEFriendCode" title="123456789" />
					</div>

				</div>
			</div>
		</div>
	</div>

	<br />
	<input type="submit" value="Save" class="btn btn-success" />
	<br />
	<br />

	<a class="btn btn-primary nav-item" href="./">Back to My Profile</a>

</form>

<script>
	const birthdayInput = document.getElementById('birthday');
	const birthmonthInput = document.getElementById('birthmonth');
	document.getElementById("clear-birthday").addEventListener("click", function () {
		birthdayInput.value = "";
		birthmonthInput.value = "";
	});
</script>