@page
@model DevBetterWeb.Web.Pages.QuestionsModel
@{
    ViewData["Title"] = "Questions";
}

<h3>Questions Discussed</h3>


@foreach (var video in Model.Videos)
{
    <div class="card mb-2">
        <div class="card-header p-2">
            <span class="font-weight-bold">@video.DateCreated.ToString("d MMM yyyy") - @video.Title</span>
        </div>
        <div class="card-body p-2">
            @if (!video.Questions.Any())
            {
                <span>No questions for this video.</span>
            }

            @foreach (var item in video.Questions)
            {
                <div class="border bg-light p-2 mb-2 d-flex">

                    <div class="w-75">
                        @Html.DisplayFor(modelItem => item.QuestionText)
                    </div>
                    <div class="w-25 ml-auto">
                        <a asp-page="./ArchivedVideos/Details" asp-route-id="@video.Id" asp-route-startTime="@item.TimestampSeconds">View Clip</a>
                    </div>
                </div>
            }

        </div>
    </div>
}